* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

a{
	text-decoration: none;
	color: black;
}

 #filter {
	margin-top: 50px;

}
#region{
	width: 30vw;
}

#region_list {
	transform: translate(-0.05%, 17.2%) !important; 
	border-radius: 0;
	height: 300px;
	padding: 0;
	overflow: hidden;
	border-radius: 0px;
}

#region_area {
	overflow-x: hidden;
	overflow-y: auto;
	width: 20vw;
	height: 200px;

}


#region_area li {
	width: 130px;
	display: inline-block;

}

#filter_but{
	display: inline-block;
}


#region_area button:focus {
	color: blue;
	background-color: white;

}

#region_area span {
	visibility: hidden;
}

#region_area button:focus span {
	visibility: visible;
}


#check_area {
	width: 50vw;
	position: absolute;
	transform: translate(40%, -100%);
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#checkResult{
	margin: 20px 0px 0px 20px;
}

#check_area::-webkit-scrollbar {
	display: none;
}

#check_area > div {
	width: 50vw;
	height: 200px;
	padding: 20px 0;
}



#check_area .form-check {
	width: 130px;
	margin: 10px;
	display: inline-block;
}

#checkResult_row{
	height: 100px;
}

#checkResult{
	width: 1296px;
	height: 100px;
	transform: translate(-1%, 7%) !important;
	z-index: 1;
}

#checkResult div button{
	width: 70px;
	height: 20px;
	outline: none;
	border: none;
	background: none;
	margin-top: 15px;
	transform: translate(1688%, 1%) !important;
	font-size: 14px;
	
}

#resultArraybtn{
	outline: none;
	border: none;
	background: none;
	margin-right: 10px;
}

#date {
	height: 53px;
	width: 30vw;
}

#date_input {
	width: 30vw;
	border: none;
	
}

.daterangepicker {
	position: absolute !important;
	transform: translate(-3%, 5%);

}

.daterangepicker .drp-calendar.left {
	width: 20vw !important;
}

.daterangepicker .drp-calendar.right {
	width: 20vw !important;
}

.drp-buttons button {
	width: 5vw;
}

#Classification {
	width: 30vw;
}

#Classification_list {
	transform: translate(0.05%, 36%) !important;
	border-radius: 0;
}


#ok{
	padding: 0;
	width: 7vw;
}

#ok button{
	width: 7vw;
	height: 53px;
	border-radius: 0;
}
 */